


<!DOCTYPE html>
<html lang="en">

<head>
<script type="text/javascript">"/javascripts/bower_components/underscore.js"</script>
<script type="text/javascript">"/javascripts/bower_components/jquery.js"</script>
<script type="text/javascript">"/javascripts/bower_components/backbone.js"</script>

</head>

<body>
    <div>
    <p>Backbone App</p>
    </div>
</body>

</html>
