


<!DOCTYPE html>
<html lang="en">

<head>
	<title>Events</title>
	<script src="/javascripts/bower_components/jquery/dist/jquery.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Bootstrap Core CSS -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/stylesheets/eventItems.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.css"/>
	<link rel="stylesheet" href="/stylesheets/bootstrap-multiselect.css"/>


	<!-- Latest necessary jquery + js files + backbone -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="/javascripts/bower_components/underscore/underscore.js"></script>
	<script src="/javascripts/bower_components/isotope/jquery.isotope.js"></script>
	<script src="/javascripts/bower_components/backbone/backbone.js"></script>
	<script src="/javascripts/bower_components/handlebars/handlebars.js"></script>
	<script src="/javascripts/bower_components/bootstrap-tagsinput.js"></script>
	<script src="/javascripts/lib/client.js"></script>
	<script src="/javascripts/lib/init.js"></script>
	<script src="/javascripts/jquery-ui.js"></script>
	<script src="/stylesheets/bower_components/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
	<script src="/javascripts/bower_components/bootstrap-multiselect.js"></script>

	<!-- Template for event cards TODO: perhaps should display date in bottom right instead? -->
	<script id="eventTemplate" type="text/x-handlebars">
		<div>
			<img src="http://the-digital-reader.com/wp-content/uploads/2013/10/Calvin-Hobbes-calvin-26-hobbes-254155_1024_7681.jpg" style="width:300px; height:225px;">
			<div style="position:fixed; width:225px; height:75px; " id="template-title">
				<h4 style=" width:100%; margin-left:10px;">{{title}}</h4>
				<p style="font-size:11pt; margin-left:10px; font-weight: lighter;">{{date}}</p>
			</div>
			<div style="background-color:red; width:75px; height:75px; position:fixed; margin-top:0px; margin-left:225px;" id="template-attendees">
				<p style="font-size: 30px; margin-left:auto; margin-right:auto; width:50%; padding-top: 10px;">{{attendeeNumber}} 
					<span style="font-size:13px; margin-left:-10px; position:absolute; font-weight:lighter;">Attendees</span>
				</p>
			</div>
			<div style="display: none" id="template-otherItems">
				<p>{{description}}</p>
				{{#each attendeePhotos}}
				<p>{{this}}</p>
				{{/each}}
				<p>{{tags}}</p>
				<p>{{creator_id}}</p>
				<p>{{date}}</p>
			</div>
		</div>
	</script> 

	<!-- Template for modal that drops down TODO: add all item properties in with handlebars in a fluid display-->
	<script id="modalTemplate" type="text/x-handlebars">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h3 id="modal-Title">{{title}}</h5>
					<h5 id="modal-dateTime"> 
						{{date}} | {{time}} 00:00pm
						<br/>
						{{location}} location placeholder
					</h5>
				</div>
				<div class="modal-body">
					<img src="http://the-digital-reader.com/wp-content/uploads/2013/10/Calvin-Hobbes-calvin-26-hobbes-254155_1024_7681.jpg">
					<p id="modal-Type">{{type}} </p>
					<p id="modal-Description"> {{description}} </p>
					<div id="modal-Tags"><i> {{#each tags}} <a>{{this}}</a> {{/each}}</i></div>
				</div>
				<div class="modal-footer">
					<div align="left">
						<p id="modal-Attendees"> 
							People attending
							<br/> 
							{{#each attendeeNames}} {{this}} {{/each}}</p>
						</div>
					</div>
					<div class="modal-footer">
						<div>
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save changes</button>
						</div>
					</div>
				</div>
			</script>

			<!-- Custom JS -->
			<script type="text/javascript">
				$("document").ready(function(){


					$("#allChoices").click(function(){
						$("otherChoices").toggleClass('noDisplay');
					});

					$('.dropdowntags').multiselect({
						includeSelectAllOption: true
					}
					);
//Perhaps add in changing title later
					//$('#searchFormTitle').change(function () {
					//	$('#searchFormBar').attr('action', '/eventItems/' + $('#searchFormTitle').val());
					//});
			//add event hover function
			$("#addEvent").hover(function(){
				$(this).css("background", "orange");
			}, function(){
				$(this).css("background", "#FFF");
			});
              //Add new item modal
              $("#addEvent").click(function(){
              	$('#add-item-modal').modal('toggle')
              });


              $('#timepicker1').timepicker({
              	template: false,
              	showInputs: false,
              	minuteStep: 5
              });


			//Brings modal drop down when you click on event card
			$(".event").click(function(){
				$('#eventModal').modal('toggle')
			});
			
			//isotope creates cards for us
			var $container = $('#initialContent').isotope({
				itemSelector: '.event',
				layoutMode: 'masonry',
				masonry: {
					columnWidth: 110
				},
				cellsByRow: {
					columnWidth: 220,
					rowHeight: 220
				},
				masonryHorizontal: {
					rowHeight: 110
				},
				cellsByColumn: {
					columnWidth: 220,
					rowHeight: 220
				}
			});
			$( "#datepicker" ).datepicker({ autoSize: true });	
			$("#advancedSearch").click(function(){
				$(".advancedSearchForm").toggleClass("noDisplay");
			});
			$("#advancedSearch").hover(function(){
				$(this).css("color", "orange");
			}, function(){
				$(this).css("color", "black");
			});
		});
</script>
</head>


<body>
	<!-- Navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/" class="navbar-brand"><strong>EVENTUS</strong></a>
			</div>

			<div class="collapse navbar-collapse navbar-ex1-collapse" role="navigation">
				<ul class="nav navbar-nav navbar-right">
					
					<%if (loggedIn)  {%>
					<li id="profilenav"><a href="/#">Welcome, <%= user.username %>!</a></li>
					<li id="eventsnav"><a href="/eventItems">EVENTS</a></li>
					<li id="profilenav"><a href="/logout">LOGOUT</a></li>
					<%} else {  %>
					<li id="profilenav"><a href="/register">REGISTER</a></li>
					<li id="eventsnav"><a href="/login">LOGIN</a></li>
					<li id="profilenav"><a href="/eventItems">EVENTS</a></li>
					<% } %>

				</ul>
			</div>
		</div>
	</div>



	<!-- Small header -->
	<div class="page-header text-center" style="margin-top: 80px">
		<h1 class="glyph" style="margin-right: 100px"><span class="glyphicon glyphicon-th-large"></span> Events </h1> <%if (loggedIn)  {%><button class="btn btn-default btn-small glyph" id="addEvent" style="margin-left:100px vertical-align:middle"><span class=" glyphicon glyphicon-plus-sign"></span></button>	<%}  %>

	</div>


	<!-- Search bar -->
	<div class="centered">

		<form class="navbar-form navbar-center searchForm" id="searchFormBar" action='/eventItems' method="post">
			<div class="form-group">
				<label class="add-title-searching" for="searchForm">Title</label>
				<br>
				<input type="text" class="form-control searchFormBar" id="searchFormTitle" placeholder="Search" name="searchTitle">
			</div>
			<p id="advancedSearch">Advanced Search </p>
			<div class="advancedSearchForm noDisplay">
				<label class="add-tag-searching" for="searchForm">Tags</label>
				<br>
				<select class="dropdowntags" multiple="multiple" class="searchForm" name="tags[]">
					<div id="otherChoices"  class="searchForm" >
						<optgroup label="General">
							<option value="lecture">Lecture</option>
							<option value="event">Event</option>
							<option value="theme">Awareness</option>

						</optgroup>
						<optgroup label="Academic">
							<option value="engineering">Engineering</option>
							<option value="humanities">Humanities</option>
							<option value="life_sciences">Life Sciences</option>
							<option value="life_sciences">Social Sciences</option>
						</optgroup>
						<optgroup label="Clubs">
							<option value="club_event">Event </option>
							<option value="meeting">Meeting</option>
							<option value="performance">Performance</option>
						</optgroup>
						<optgroup label="Individual">
							<option value="discussion">Discussion</option>
							<option value="individual_event">Event</option>
							<option value="food">Food</option>
							<option value="hangout">Hangout</option>
							<option value="trip">Trip</option>
						</optgroup>
					</div>
				</select>
				<br>
				<!-- <label class="add-tag-searching" for="searchForm">Date</label>
				<br>
				<input type="text" class=" form-control searchForm input-small" id="datepicker" name="search_date"> -->
			</div>
			<br>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>


	



	<!--  Hidden events data -->
	<div id="startingdata">
		<%= events %>
	</div>


	<!--  Where the event cards appear -->
	<div id="initialContent" class="isotope" style="margin-top: 100px; margin-left: 4%;">

	</div>



	<!-- Event modal -->
	<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" id="backboneModal">

		</div>
	</div>




	<!-- Add Item modal -->
	<div id="add-item-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<h3 class="modal-header add-item-modal-header">New Event</h4>
					<form role="form" id="add-item-modal-form-container" action="/addEvent" method="post">
						<div class="modal-body">
							<div class="add-item-modal-form form-group">
								<label class="add-item-modal-form-label" for="add-item-modal-form-title">Title*</label>
								<input type="text" class="form-control add-item-modal-form-input" id="add-item-modal-form-title" placeholder="Title" name="modal_title">
								<br>
								<label class="add-item-modal-form-label" for="add-item-modal-form-date">Date*</label>
								<br>

								<input type="text" class=" form-control add-item-modal-form-input input-small" id="datepicker" name="modal_date">
								<br>

								<label class="add-item-modal-form-label" for="add-item-modal-form-time">Start Time*</label>
								<div class="input-append bootstrap-timepicker">
									<input id="timepicker1" type="text" class="form-control input-small add-item-modal-form-input" name="modal_time">
									<span class="add-on"><i class="icon-time"></i></span>
								</div>
								<br>

								<label class="add-item-modal-form-label" for="add-item-modal-form-time">Location*</label>
								<input id="timepicker1" type="text" class="form-control input-small add-item-modal-form-input" name="modal_time" placeholder="Address, City..." name="modal_location">
								<br>
								<!--<p>Date: <input type="text" id="datepicker"></p>-->
								<label class="add-item-modal-form-label" for="add-item-modal-form-description">Description</label>
								<textarea type="text" class="form-control add-item-modal-form-input" id="add-item-modal-form-description" placeholder="Description" name="modal_description"></textarea>
								<br>

								<label class="add-item-modal-form-label" for="add-item-modal-form-tags">Tags</label>
								<br>
								<select class="dropdowntags" multiple="multiple" class="searchForm" name="tags[]">
									<div id="otherChoices"  class="searchForm" >
										<optgroup label="General">
											<option value="lecture">Lecture</option>
											<option value="event">Event</option>
											<option value="theme">Awareness</option>

										</optgroup>
										<optgroup label="Academic">
											<option value="engineering">Engineering</option>
											<option value="humanities">Humanities</option>
											<option value="life_sciences">Life Sciences</option>
											<option value="life_sciences">Social Sciences</option>
										</optgroup>
										<optgroup label="Clubs">
											<option value="club_event">Event </option>
											<option value="meeting">Meeting</option>
											<option value="performance">Performance</option>
										</optgroup>
										<optgroup label="Individual">
											<option value="discussion">Discussion</option>
											<option value="individual_event">Event</option>
											<option value="food">Food</option>
											<option value="hangout">Hangout</option>
											<option value="trip">Trip</option>
										</optgroup>
									</div>
								</select>
								<br>
								<br>
								<!--<label class="add-item-modal-form-label" for="add-item-modal-form-tags">Other</label>
								<input type="text" class="form-control add-item-modal-form-input" id="add-item-modal-form-tags" placeholder="Outdoors" data-role="tagsinput" name="modal_tags" style="width:100%"> 
								<br>  -->
								



								<label  style="margin-top: 2px"  class="add-item-modal-form-label" for="add-item-modal-form-picture">Picture</label>
								<input type="text" class="form-control add-item-modal-form-input" id="add-item-modal-form-picture" placeholder="http://www.facebook.photo.jpg" name="modal_picture">
								<br>

								<label  style="margin-top: 2px"  class="add-item-modal-form-label" for="add-item-modal-form-type">Event Category*</label>
								<select class="add-item-modal-form-label" name="modal_type">
									<option>School</option>
									<option>Club</option>
									<option>Individual</option>
								</select>
								<br>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button submit" class="add-item-modal-form-submit-btn btn btn-primary">Submit</button>
						</div>
						<br>
						<br>
					</form>
				</div>
			</div>
		</div>

	</body>

	</html>
