


<!DOCTYPE html>
<html lang="en">

<head>
	<title>Events</title>
	<script src="/javascripts/bower_components/jquery/dist/jquery.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<!-- Bootstrap Core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/stylesheets/eventItems.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/jquery-ui.css"/>
	<link rel="stylesheet" href="/resources/demos/style.css">
	<!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom Theme CSS -->
    <link href="/stylesheets/css/grayscale.css" rel="stylesheet">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="/javascripts/bower_components/underscore/underscore.js"></script>
	<script src="/javascripts/bower_components/isotope/jquery.isotope.js"></script>
	<script src="/javascripts/bower_components/backbone/backbone.js"></script>
	<script src="/javascripts/bower_components/handlebars/handlebars.js"></script>
	<script src="/javascripts/bower_components/bootstrap-tagsinput.js"></script>
	<script src="/javascripts/lib/client.js"></script>
	<script src="/javascripts/lib/init.js"></script>
	<script src="javascripts/jquery-ui.js"></script>

	<script id="eventTemplate" type="text/x-handlebars">
		<div>
			<img src="http://the-digital-reader.com/wp-content/uploads/2013/10/Calvin-Hobbes-calvin-26-hobbes-254155_1024_7681.jpg" style="width:300px; height:225px;">
			<div style="position:fixed; width:225px; height:75px; " id="template-title">
				<h4 style="margin-left:auto; margin-right:auto; width:100%; margin-left:10px;">{{title}}</h4>
			</div>
			<div style="background-color:red; width:75px; height:75px; position:fixed; margin-top:0px; margin-left:225px;" id="template-attendees">
				<p style="font-size: 30px; margin-left:auto; margin-right:auto; width:50%; padding-top: 10px;">{{attendeeNumber}} 
					<span style="font-size:13px; margin-left:-13px; position:fixed;">Attendees</span>
				</p>
			</div>
			<div style="display: none" id="template-otherItems">
				<p>{{description}}</p>
				{{#each attendeePhotos}}
				<p>{{this}}</p>
				{{/each}}
				<p>{{tags}}</p>
				<p>{{creator_id}}</p>
				<p>{{date}}</p>
			</div>
		</div>
	</script>
	<script type="text/javascript">
		$("document").ready(function(){
			$(".event").click(function(){
				var eventProperties = $(this).children("div:first");
				var eventTitle = $(eventProperties).find("#template-title").children().html();
				var eventDescription = $(eventProperties).find("#template-otherItems").children("p:first").html();
				$('#eventModal').find("#modal-Title").html(eventTitle);
				$('#eventModal').find("#modal-Description").html(eventDescription);
				$('#eventModal').modal('toggle')
			});
			$("#addEvent").click(function(){
				$('#add-item-modal').modal('toggle')
			});
			var $container = $('#initialContent').isotope({
				itemSelector: '.event',
				layoutMode: 'masonry',
				masonry: {
					columnWidth: 110
				},
				cellsByRow: {
					columnWidth: 220,
					rowHeight: 220
				},
				masonryHorizontal: {
					rowHeight: 110
				},
				cellsByColumn: {
					columnWidth: 220,
					rowHeight: 220
				}
			});
			$( "#datepicker" ).datepicker({ autoSize: true });	
		});
</script>
</head>


<body>

	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/" class="navbar-brand"><strong>EVENTUS</strong></a>
			</div>

			<div class="collapse navbar-collapse navbar-ex1-collapse" role="navigation">
				<ul class="nav navbar-nav navbar-right">
					<li id="profilenav"><a href="index.html">PROFILE</a></li>
					<li id="eventsnav"><a href="about-us.html">EVENTS</a></li>
				</ul>
			</div>
		</div>
	</div>
	<br>
	<div id="startingdata">
		<%= events %>
	</div>

	<div id="initialContent" class="isotope" style="margin-top: 100px">

	</div>

	<button class="btn btn-primary btn-lg" id="addEvent">
		Add Event
	</button>

	<!-- Modal -->
	<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 id="modal-Title">{{title}}</h4>
				</div>
				<div class="modal-body">
					<img src="http://the-digital-reader.com/wp-content/uploads/2013/10/Calvin-Hobbes-calvin-26-hobbes-254155_1024_7681.jpg" style="width:300px; height:225px;">
					<p id="modal-Type">TYPE: </p>
					<p id="modal-Description"> {{description}} </p>
				</div>
				<div class="modal-footer">
					<div align="left">
						<p id="modal-Attendees"> People attending</p>
					</div>
				</div>
				<div class="modal-footer">
					<div>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save changes</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Add Item modal -->
	<div id="add-item-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<h3 class="modal-header add-item-modal-header">Add New Item</h4>
					<form role="form" id="add-item-modal-form-container" action="/addEvent" method="post">
						<div class="modal-body">
							<div class="add-item-modal-form form-group">
								<label class="add-item-modal-form-label" for="add-item-modal-form-title">Title</label>
								<input type="text" class="form-control add-item-modal-form-input" id="add-item-modal-form-title" placeholder="Title" name="title">
								<label class="add-item-modal-form-label" for="add-item-modal-form-enddate">Date</label>


								<input type="text" class="form-control add-item-modal-form-input" id="datepicker" >
<!--<p>Date: <input type="text" id="datepicker"></p>-->
								<label class="add-item-modal-form-label" for="add-item-modal-form-description">Description</label>
								<textarea type="text" class="form-control add-item-modal-form-input" id="add-item-modal-form-description" placeholder="Description" name="modal_description"></textarea>

								<label class="add-item-modal-form-label" for="add-item-modal-form-tags">Tags</label>
								<input type="text" class="form-control add-item-modal-form-input" id="add-item-modal-form-tags" placeholder="Outdoors"  data-role="tagsinput">

								<label  style="margin-top: 2px"  class="add-item-modal-form-label" for="add-item-modal-form-picture">Picture</label>
								<input type="text" class="form-control add-item-modal-form-input" id="add-item-modal-form-picture" placeholder="http://www.facebook.photo.jpg">

								<label  style="margin-top: 2px"  class="add-item-modal-form-label" for="add-item-modal-form-type">Event Category</label>
								<select class="add-item-modal-form-label" name="modal_type">
									<option>School</option>
									<option>Club</option>
									<option>Personal</option>
								</select>
								<br>


								
								
								<!--<p>A popup datepicker <input type="text" id="popupDatepicker" ></p>-->
							</div>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

							<button type="button submit" class="add-item-modal-form-submit-btn btn btn-primary">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>

	</body>

	</html>
