#startingdata
{
	display:none;
}

/* clearfix */
.isotope:before,
.isotope:after {
content: " ";
display: table;
}

.isotope:after {
clear: both;
}

.symbol {
position: absolute;
margin-left: 2px;
margin-bottom: 5px;
font-size: 42px;
font-weight: bold;
color: white;
}

.symbol {
filter: gray; /* IE6-9 */
-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
background:orange;
}

.symbol:hover {
filter: none;
-webkit-filter: grayscale(0%);
}

.event.width2 { width: 300px; }
.event.height2 { height: 300px; }

/*.navbar {
   background-color:rgba(255,0,0,0.5);
}

.navbar li { color: #000 } 

.navbar {
  padding: 10px 0px 10px 0px; }
  .navbar.navbar-inverse {
    background: rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid #585858; }
    .navbar.navbar-inverse.navbar-static-top {
      background-color: #252528; }
      .navbar.navbar-inverse.navbar-static-top .container {
        margin-top: 0;
        margin-bottom: 0; }
    .navbar.navbar-inverse .nav > li > a {
      font-size: 13px;
      font-weight: bold;
      color: #fff;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
      opacity: .6;
      filter: alpha(opacity=60);
      -webkit-transition: all .2s linear;
      -moz-transition: all .2s linear;
      transition: all .2s linear;
      padding: 10px 15px 10px;
      text-decoration: none; }
      .navbar.navbar-inverse .nav > li > a:hover, .navbar.navbar-inverse .nav > li > a:active {
        color: #fff;
        opacity: 1;
        filter: alpha(opacity=100); }
    .navbar.navbar-inverse .nav > li.active > a {
      color: #fff;
      opacity: 1;
      filter: alpha(opacity=100);
      background-color: transparent; }
  .navbar.sticky {
    background: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid #252525; }
    .navbar.sticky .container {
      margin-top: 0px !important;
      margin-bottom: 0px !important; }
  .navbar .container {
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: margin .2s ease-in-out;
    -moz-transition: margin .2s ease-in-out;
    transition: margin .2s ease-in-out; }
    .navbar .container .navbar-header .navbar-brand {
      color: #fff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      font-size: 20px;
      margin-left: -20px;
      padding: 10px 20px 10px; }
    .navbar .container .collapse .nav .dropdown .caret {
      margin-bottom: 4px; }
    .navbar .container .collapse .nav .dropdown .dropdown-menu {
      background: #252528;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      margin-top: 2px; }
      .navbar .container .collapse .nav .dropdown .dropdown-menu > li > a {
        color: #fff; }
        .navbar .container .collapse .nav .dropdown .dropdown-menu > li > a:hover {
          background: #08c; }

.section_header {
  width: 100%;
  margin-bottom: 60px; }
  .section_header h3 {
    color: #646464;
    font-weight: 300;
    font-style: italic;
    font-size: 27px;
    border-bottom: 1px solid #b3b3b3;
    padding-bottom: 0px;
    display: inline-block;
    margin: 0; }*/